<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Link -->
    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Add Recipe</title>
</head>
<body>
    <!-- Page Container -->
    <div class="col-12">
        <!-- Navbar -->
        <div class="navbar bg-dark justify-content-between p-4">
            <h3 class="log_reg_txt">Add Recipe</h3>
            <div class="field_txt">
                <a href="/recipes" class="btn btn-success mx-3">Back to recipes</a>
                <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>
        <!-- End of Navbar -->
        <div class="col-6 mx-auto opacity-75">
            <!-- Form -->
            <form action="/create/recipe" method="POST" class="p-5 my-5 bg-dark rounded">
                <h2 class="log_reg_txt">New Recipe</h2>
                <!-- Flash messages -->
                {% with messages = get_flashed_messages(category_filter=['recipe']) %}     <!-- declare a variable called messages -->
                    {% if messages %}                            <!-- check if there are any messages -->
                        {% for message in messages %}            <!-- loop through the messages -->
                            <p class="text-danger">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <!-- End of Flash messages -->
                <div class="d-flex justify-content-between">
                    <!-- Left form column -->
                    <div class="col-4">
                        <div class="form-group">
                            <label class="mb-2 field_txt" for="name">Name:</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="my-2 field_txt" for="description">Description:</label>
                            <textarea name="description" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="my-2 field_txt" for="instructions">Instructions:</label>
                            <textarea name="instructions" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <!-- End of Left form column -->
                    <!-- Right form column -->
                    <div class="col-4">
                        <div class="form-group">
                            <label class="mb-2 field_txt" for="date_made">Date Made:</label>
                            <input type="date" name="date_made" class="form-control">
                        </div>
                        <label  class="my-2 field_txt" for="cook_time">Under 30 Minutes:</label>
                        <div>
                            <label for="1" class="text-success field_txt">Yes</label>
                            <input class="yes_rb" type="radio" name="cook_time" value="1">
                            <label for="0" class="text-danger field_txt">No</label>
                            <input type="radio" name="cook_time" value="0">
                        </div>
                        <br>
                        <input type="submit" value="Submit" class="btn btn-success">
                    </div>
                    <!-- End of Right form column -->
                </div>
            </form>
            <!-- End of Form -->
        </div>
    </div>
    <!-- End of Page Container -->
</html>